<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <canvas style="width: 100%; height: 100%;" id="myCanvas"></canvas>
    <script defer>
        const canvas = document.getElementById("myCanvas");
        const ctx = canvas.getContext("2d");

        let mousePos = new Uint16Array(32);

        const renderLines = () => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.beginPath(); // I still don't understand what beginPath and closePath do
            ctx.moveTo(mousePos[0], mousePos[1]);
            // ctx.lineTo(...point2);
            for (let i = 2; i < 32; i++) {
                ctx.lineTo(mousePos[i], mousePos[i + 1]);
                i++; // This combined with the above i++ will move the index by 2 and not 1
            }
            // ctx.closePath();
            ctx.stroke();
        }

        // renderLines()

        const resizer = async () => {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;   
            renderLines();
        }

        window.addEventListener("resize", resizer);
        resizer();

        window.addEventListener("mousemove", (event) => {
            if (event.clientX === mousePos[30] && event.clientY === mousePos[31]) return;

            const newMousePos = new Uint16Array([...mousePos.slice(2), event.clientX, event.clientY]);
            mousePos = newMousePos;

            renderLines();
        });
    </script>
</body>
</html>
