<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>

    <div class="app">
        <div class="row-buttons">

            <div class="home-button home-button-red">
                <img src="food-strawberry.png" alt="">
                <div class="text inverso">
                    <span>E</span>
                    <span>G</span>
                    <span>A</span>
                    <span>P</span>
                    <span>E</span>
                    <span>M</span>
                    <span>O</span>
                    <span>H</span>
                </div><div class="text reverso">
                    <span>E</span>
                    <span>G</span>
                    <span>A</span>
                    <span>P</span>
                    <span>E</span>
                    <span>M</span>
                    <span>O</span>
                    <span>H</span>
                </div>
            </div>
            <div class="home-button home-button-blue">
                <img src="watermelon.png" alt="">
                <div class="text inverso">
                    <span>L</span>
                    <span>A</span>
                    <span>N</span>
                    <span>I</span>
                    <span>G</span>
                    <span>I</span>
                    <span>R</span>
                    <span>O</span>
                </div>
            </div>
            <div class="home-button home-button-yellow">
                <img src="lemon.png" alt="">
                <div class="text inverso">
                    <span>H</span>
                    <span>C</span>
                    <span>T</span>
                    <span>A</span>
                    <span>W</span>
                </div>
            </div>
        </div>
    </div>
    <canvas style="width: 100%; height: 100%; position: fixed; top: 0; left: 0;" id="myCanvas"></canvas>
    <script defer src="/main.js">
    </script>
</body>
</html>
