<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="/room.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>

    <div class="app">
        <div class="fruit apple rotate-l "></div>
        <div class="fruit lemon rotate-r"></div>
        <div class="fruit watermelon rotate-r"></div>
    </div>
    <canvas style="width: 100%; height: 100%; position: fixed; top: 0; left: 0;" id="myCanvas"></canvas>
    <script defer>
        
    </script>

</body>

</html>