body{
 background-image: url("fruitninja.png");
}

.fruit{

}
.lemon{
  min-height: 30px;
  max-width: 30px;
  background-color: yellow;
}
.apple{

}
.watermelon{

}
.rotate-l{
}
.rotate-r{
  animation: rotateR 10s linear infinite;  
}


@keyframes rotateR {
  from{
      transform: rotate(0deg)
  }

  to{
      transform: rotate(360deg)
  }