body {
  background-image: url("/fruitninja.png");
  width: 100%;
  height: 100%;
}

pre {
  background-color: white;
}

img {
  width: inherit;
  height: auto;
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.lemon {
  width: 64px;
  height: 64px;
}

.watermelon{
  width: 64px;
  height: 64px;
}


.food-strawberry{
  width: 64px;
  height: 64px;
}

.pineapple{
  width: 64px;
  height: 64px;
}

.rotate-r{
  animation: rotateR 10s linear infinite;  
}

.rotate-l{
  animation: rotateR 10s linear infinite;  
  animation-direction: reverse;
}


@keyframes rotateR {
  from{
      transform: rotate(0deg)
  }

  to{
      transform: rotate(360deg)
  }
}